@import "partials/custom-icon-font";
@import "partials/variable";
@import "partials/normalize";
@import "partials/global";
@import "partials/components";
@import "partials/logo-nav";
@import "partials/section";
@import "partials/footer";
@import "partials/responsive";

@mixin bg-gradient($color1, $color2) {}

// .mfp-img {
//     max-width: 600px !important;
// }

#contact {
    background: linear-gradient(to bottom, #000000, #2f2f2f);

}

#quote {
    background: linear-gradient(to top, #000000, #1a1a1a)
}

.g-recaptcha {
    margin-bottom: 1rem;
}